// import reenie beanie and titilium web from google fonts
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&family=Titillium+Web:wght@300;400&display=swap');

// colors
$bg:        #eee;
$fg:        #2e2e2c;
$magenta:   #bcbbd5;

// RESET

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg;
    color: $fg;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    font-weight: 400;
    color: $magenta;
}

li {
    list-style: none;
}

h1,
h2,
h3 {
    color: $magenta;
    margin: .5rem 0;
    font-weight: 400;
}




// ICONS


.lab {
    color: $fg;
}



// UTILS

.highlight {
    color: $magenta;
}

.shadow {
    box-shadow: 2px 2px 5px 1px rgba(0,0,0,0.2);
}

.btn {
    border: 1px solid $magenta;
    padding: .2rem 1.5rem;
    color: $magenta;
}

.focus {
    color: $fg;
}


// LAYOUT

.section {
    margin: 4rem 0;
}

.container {
    width: 960px;
    max-width: 90%;
    margin: 0 auto;
}

// NAVBAR

.navbar {
    // background-color: $magenta;
    height: 80px;
}

.navbar nav ul {
    display: flex;
}

.navbar nav ul li {
    margin: 1rem;
    padding: 1rem 0;
}



// CARDS

.card {

    .card-title {
        padding: .5rem;
        font-size: 1.1em;
        color: $magenta;
    }

    .card-content {
        padding: 1rem;

        .tags {
            font-size: .8em;
            text-transform: uppercase;
            
        }

        .status {
            font-size: .8em;
            color: $magenta;
        }
    }

    .card-action {
        padding: 1rem;
        text-align: right;
    }
}


// HERO

.hero {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .hero-display {
        display: flex;         
        flex-direction: column;
        justify-content: center;
        height: 100%;

        .hero-title {
            font-family: 'Reenie Beanie', cursive;
            font-size: 4em;
            color: $fg;
        }

        .actions {
            padding: 2rem 0;

            .btn {
                margin-right: 1.5rem; 
            }
        }
    }
}



// GALLERY

.gallery-item {
    width: 32%;
    margin-left: 1%;
    margin-top: 1%;
}


.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .col-half {
        flex: 0 0 calc(100% / 12 * 6);
    }
}


// FOOTER

.footer {
    height: 40vh;
    margin-top: 4rem;
    background: $magenta;
    color: #eee;
    display: flex;

    h3 { color: #e1e1e1; }
}

